*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 90px 20px 0; 
    /* NavBar */
    .header{
        background-color: #030303e8;
        height: 80px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;

        .nav{
            display: flex;
            justify-content: space-between;
            max-width: 992px;
            margin: 0 auto;

            .logo{
                font-size: 30px;
                font-weight: bold;
                padding: 0 40px;
                line-height: 80px;
            }
            .nav-toggle{
                color: white;
                background: none;
                border: none;
                font-size: 30px;
                padding: 0 20px;
                line-height: 60px;
                display: none;
                cursor: pointer;
            }
            .nav-menu{
                display: flex;
                margin-right: 40px;
                list-style: none;

                .nav-item{
                    font-size: 18px;
                    margin: 0 10px;
                    line-height: 80px;
                    text-transform: uppercase;
                    width: max-content;

                    .nav-link{
                        color: white;
                        padding: 8px 12px;
                    }
                    .nav-link:hover{
                        border: 1px solid #034574;
                        border-radius: 3px;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}
section {
    min-height: 410px;
/* Cuestionario */
    #container {
        width: 60%;
        background: rgb(22, 22, 22);
        margin: 20px auto;
        overflow: auto;
        padding: 25px;
        border-radius: 10px;
        
        .tituloQuiz {
            text-align: center;
            border-bottom: 1px dashed #fff;

            h1 {
                margin: 0;
                padding: 0;
                color: rgb(94, 18, 236);
            }
    
            p {
                padding: 0;
                margin-top: 5px;
                color: #ffffff;
            }
        }
        .formulario h3 {
            background: #91db4b;
            padding: 10px;
            margin: 10px 0;
            border-radius: 6px;
        }
        h3 {
            color: #fdfdfd;
        }
        input[type='submit'] {
            background: #26d8f0;
            border: 0;
            color: rgb(0, 0, 0);
            padding: 10px 15px;
            cursor: pointer;
            margin-top: 20px;
            border-radius: 6px;
        }
        input[type='submit']:hover {
            background: #4b26f0;
            border: 0;
            color: #fff;
            padding: 10px 15px;
            cursor: pointer;
            margin-top: 20px;
        }
        #resultado h3 {
            background: #c6db4b;
            padding: 10px;
            margin: 10px 0;
        }
        #resultado span {
            color: #000;
            font-weight: bold;
        }
    }
}

@media (max-width: 768px){
    body{
        padding-top: 70px;

        .header{
            height: 60px;

            .nav{
                .logo{
                    font-size: 25px;
                    line-height: 60px;
                }
                .nav-toggle{
                    display: block;
                }
                .nav-menu{
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                    background-color: #2c3e50;
                    position: fixed;
                    left: 0;
                    top: 60px;
                    width: 100%;
                    padding: 20px 0;
                    height: calc(100% - 60px);
                    overflow-y: auto;
                    left: 100%;
                    transition: left 0.3s;
    
                    .nav-item{
                        line-height: 70px;
    
                        .nav-link:hover{
                            border: none;
                            color: #83c5f7;
                        }
                    }
                }
            }
            .nav-menu_visible{
                left: 0;
            }
        }
    }
}

/* Store */
section {
    .store{
        #listado {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
