$colororo: #caac27;


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 90px 20px 0; 
    background-color: #171718;
    /* NavBar */
    .header{
        background-color: #222020e8;
        height: 80px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;

        .nav{
            display: flex;
            justify-content: space-between;
            max-width: 992px;
            margin: 0 auto;

            .logo{
                font-size: 30px;
                font-weight: bold;
                padding: 0 40px;
                line-height: 80px;
                color: #f7dc83;
            }
            .logo:hover {
                color: #d3a529;
            }
            .nav-toggle{
                color: white;
                background: none;
                border: none;
                font-size: 30px;
                padding: 0 20px;
                line-height: 60px;
                display: none;
                cursor: pointer;
            }
            .nav-menu{
                display: flex;
                margin-right: 40px;
                list-style: none;

                .nav-item{
                    font-size: 18px;
                    margin: 0 10px;
                    line-height: 80px;
                    text-transform: uppercase;
                    width: max-content;

                    .nav-link{
                        color: white;
                        padding: 8px 12px;
                    }
                    .nav-link:hover{
                        border: 1px solid #796703;
                        border-radius: 3px;
                        transition: 0.5s;
                        color: $colororo;
                    }
                }
            }
        }
    }
}
/* Carrusel */
section {
    .carrusel {
        max-width: 1000px;
        position: relative;
        margin: auto;

        .carruselItem {
            display: none;

            .numbertext {
                color: #034574;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }
            .carrusel-img {
                width: inherit;
            }
            .text {
                color: #034574;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
            }
        }
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        @-webkit-keyframes fade {
            from{opacity: .4;}
            to{opacity: 1;}
        }
        keyframes fade {
            from{opacity: .4};
            to{opacity: 1};
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: #034574;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
        }
        .next{
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover{
            background-color: rgba(0,0,0,0.8);
            color: #fff;
        }
    }
}
/* Formulario de Registro */
section {
    .contenedorAll {
        width: 100%;
        max-width: 800px;
        margin: auto;
        position: relative;

        .cajaAtras{
            width: 100%;
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            backdrop-filter: blur(10px);
            background-color: rgba(41, 41, 42, 0.5);

            .cajaAtrasLogin, .cajaAtrasRegister {
                margin: 100px 40px;
                color: #f7dc83;
                transition: all 500ms;

                p, button {
                    margin: 30px;
                }
                h3 {
                    font-weight: 400;
                    font-size: 26px;
                }
                button {
                    padding: 10px 40px;
                    border: 2px solid rgb(224, 161, 23);
                    background: transparent;
                    font-size: 14px;
                    font-weight: 600;
                    cursor: pointer;
                    color: #f7dc83;
                    outline: none;
                    transition: all 300ms;
                }
                button:hover {
                    background: $colororo;
                    color: #080808;
                }
            }
        }
        .contenedor__login-register {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 380px;
            position: relative;
            top: -240px;
            left: 10px;
            transition: left 500ms cubic-bezier(0.175,0.885,0.320,1.275);

            form {
                width: 100%;
                padding: 80px 20px;
                background: #fff;
                position: absolute;
                border-radius: 20px;

                h2 {
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 20px;
                    color: $colororo;
                }
                input{
                    width: 100%;
                    margin-top: 20px;
                    padding: 10px;
                    border: none;
                    background: #f2f2f2;
                    font-size: 16px;
                    outline: none;
                }
                button {
                    padding: 10px 40px;
                    margin-top: 40px;
                    border: none;
                    font-size: 14px;
                    background: $colororo;
                    color: rgb(0, 0, 0);
                    cursor: pointer;
                    outline: none;
                }
            }
            .formLogin {
                opacity: 1;
                display: block;
            }
            .formRegister {
                display: none;
            }
        }
    }
}
@media (max-width: 768px){
    body{
        padding-top: 70px;

        .header{
            height: 60px;

            .nav{
                .logo{
                    font-size: 25px;
                    line-height: 60px;
                }
                .nav-toggle{
                    display: block;
                }
                .nav-menu{
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                    background-color: #2c3e50;
                    position: fixed;
                    left: 0;
                    top: 60px;
                    width: 100%;
                    padding: 20px 0;
                    height: calc(100% - 60px);
                    overflow-y: auto;
                    left: 100%;
                    transition: left 0.3s;
    
                    .nav-item{
                        line-height: 70px;
    
                        .nav-link:hover{
                            border: none;
                            color: #83c5f7;
                        }
                    }
                }
            }
            .nav-menu_visible{
                left: 0;
            }
        }
    }
}
/* About */
section{
    .contenedorAbout{
        display: flex;

        .equipo{
            background-color: #fff;
            padding: 20px;
            width: 50%;
            border-radius: 6px;
            h1 {
                color: $colororo;
            }
        }
        .yo {
            background-color: #fff;
            padding: 20px;
            width: 50%;
            margin-left: 20px;
            border-radius: 6px;
            h2 {
                color: $colororo;
            }
        }
    }
}
/* Formoluario */
section{
    .suscribete {
        background-color: rgb(51, 90, 177);
        text-align: center;

        h3 {
            margin: 10px 0;
        }

        #form1 {
            #email-form1{
                width: 50%;
                padding: 10px;
                margin: 5px 0;
                border-radius: 6px;
                background-color: rgb(53, 94, 182);
            }
        }
    }
}
/* Store */
section {
    .store{
        #listado {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
